@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:
linear-gradient(
135deg,
#090909,
#111827,
#000000
);

color:white;

min-height:100vh;

overflow-x:hidden;
}


header{

width:100%;
padding:25px 10%;

display:flex;

justify-content:space-between;

align-items:center;

position:fixed;

backdrop-filter:blur(10px);

background:rgba(255,255,255,.03);

z-index:100;

}

.logo{

font-size:2rem;

font-weight:900;

color:#00fff2;

cursor:pointer;

transition:.4s;

}

.logo:hover{

transform:scale(1.1);

}


nav a{

color:white;

margin-left:40px;

text-decoration:none;

font-size:1rem;

transition:.3s;

}

nav a:hover{

color:#00fff2;

}


.hero{

min-height:100vh;

display:flex;

align-items:center;

justify-content:space-between;

padding:150px 10%;

}


.content{

max-width:650px;

}


.content h1{

font-size:5rem;

line-height:1.1;

}


.content span{

color:#00fff2;

}


.typing{

margin:20px 0;

font-size:2rem;

}

.typing span::before{

content:"AI Engineer";

animation:text 12s infinite;

}


@keyframes text{

0%{

content:"AI Engineer";

}

25%{

content:"Web Developer";

}

50%{

content:"YouTuber";

}

75%{

content:"Creator";

}

100%{

content:"Future Billionaire";

}

}


.content p{

color:#aaa;

font-size:1.1rem;

margin-bottom:40px;

}


.buttons{

display:flex;

gap:20px;

}


.btn{

padding:16px 38px;

border-radius:50px;

text-decoration:none;

font-weight:700;

transition:.4s;

}


.primary{

background:#00fff2;

color:black;

}

.primary:hover{

transform:translateY(-8px);

box-shadow:0 0 30px #00fff2;

}


.secondary{

border:2px solid #00fff2;

color:#00fff2;

}


.secondary:hover{

background:#00fff2;

color:black;

}


.socials{

margin-top:50px;

display:flex;

gap:20px;

}


.socials a{

width:55px;

height:55px;

border:1px solid #00fff2;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

color:#00fff2;

font-size:22px;

transition:.4s;

}


.socials a:hover{

background:#00fff2;

color:black;

transform:translateY(-10px);

}


.hero-image img{

width:450px;

border-radius:50%;

border:5px solid #00fff2;

box-shadow:

0 0 50px #00fff2,

0 0 100px rgba(0,255,242,.4);

animation:float 5s ease infinite;

}


@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-20px);

}

100%{

transform:translateY(0);

}

}


@media(max-width:900px){

.hero{

flex-direction:column-reverse;

text-align:center;

padding-top:180px;

}

.content h1{

font-size:3rem;

}

.hero-image img{

width:300px;

margin-bottom:50px;

}

nav{

display:none;

}

.buttons{

justify-content:center;

}

.socials{

justify-content:center;

}
.hidden{

opacity:0;

transform:
translateY(80px);

transition:1s;

}

.show{

opacity:1;

transform:
translateY(0);

}

nav a.active{

color:#00fff2;

}
}